.modal-fade {
    position: fixed;
    background-color: black;
    opacity: 60%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.product {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: start;
    height: 610px;
    width: 924px;
    padding: 32px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-image {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 530px;
    height: 610px;
    margin: 92px 52px 0px;

}

.product-image img {
    width: 100%;
    position: relative;
    display: flex;
    user-select: none;
    image-rendering: auto;
    flex-flow: column;
}

.product-info {
    position: relative;
    float: right;
    vertical-align: top;
    width: 394px;
    height: 100%;
    padding: 30px 0px;
    background: rgb(252, 252, 252);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.product-image__svg {
    top: 80px;
    left: 40px;
    position: absolute;
    z-index: 2;
}

h1 {
    margin: 0px 0px 8px;
}

.title {
    margin: 0px 0px 8px;
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}

.description {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgb(92, 99, 112);
    margin: 0px 0px 24px;
}

.close {
    position: absolute;
    top: 13px;
    right: -38px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.close:hover {
    transform: rotate(190deg);
}

.lg label {
    margin-bottom: 20px;
}

.input-container {
    width: 320px;
    margin-top: 10px;

}

.input-container input {
    width: 100%;
    text-align: left;
    height: 48px;
    padding: 0px 16px;
    border-radius: 12px;
    border: 1px solid rgb(226, 226, 233);
    color: rgb(0, 0, 0);
}

.lg {
    margin-bottom: 40px;
}

.legal {
    font-weight: 600;
    color: rgb(255, 100, 0);
}